<!DOCTYPE html>
<html lang="pt-BR">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../static/normalize.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
            integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/css/global.css">
        <title>Profiler - {{ user.name }} </title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="./images/Profiler.png" alt="" width="120" height="30">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link " href="../visaoGeral_Usuarios/visaoGeral_Usuarios.html">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="../visaoGeral_Usuarios/visaoGeral_Usuarios.html">Habilidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="../visaoGeral_Usuarios/visaoGeral_Usuarios.html">Experiência</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="../visaoGeral_Usuarios/visaoGeral_Usuarios.html">Formação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="../visaoGeral_Usuarios/visaoGeral_Usuarios.html">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="paiHome">
            <div id="filhaHome1">
                <button type="button" class="btn btn-outline-secondary" href="./login.html">Entrar</button>
            </div>

            <div id="filhaHome2">
                <img alt="image" src="./images/profilePhoto.png" width="170" />
            </div>

            <div id="filhaHome3">
                <p>Fulana de Tal</p>
            </div>

            <div id="filhaHome4">
                <p>Cargo/função atual ou que procura</p>
                <p>Estado, País</p>
            </div>

            <div id="filhaHome5">
                <p>Sobre mim</p>
                <img alt="image" src="./images/divisor.png" width="100%" height="3px" />
                <div id="filhaHome6">
                    <p>Ut tempor luctus imperdiet. Vivamus mauris magna, rutrum eu est sit amet,
                        laoreet placerat tortor. Duis blandit vel nunc eu vestibulum. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Proin sit amet risus sit amet nunc interdum condimentum. Quisque venenatis vel
                        neque auctor malesuada.</p>

                    <p>Ut tempor luctus imperdiet. Vivamus mauris magna, rutrum eu est sit amet,
                        laoreet placerat tortor. Duis blandit vel nunc eu vestibulum. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Proin sit amet risus sit amet nunc interdum condimentum. Quisque venenatis vel
                        neque auctor malesuada.</p>

                    <p>Ut tempor luctus imperdiet. Vivamus mauris magna, rutrum eu est sit amet,
                        laoreet placerat tortor. Duis blandit vel nunc eu vestibulum. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                        Proin sit amet risus sit amet nunc interdum condimentum. Quisque venenatis vel
                        neque auctor malesuada.</p>
                </div>
            </div>

            <div id="filhaHome5">
                <p>Habilidades</p>
                <img alt="image" src="./images/divisor.png" width="100%" height="3px" />
                <div id="filhaHome6">
                    <p>* Swift</p>
                    <p>* Clean Code</p>
                    <p>* Scrum</p>
                    <p>* Figma</p>
                    <p>* Colaboração</p>
                    <p>* Trabalho em equipe</p>
                </div>
            </div>

            <div id="filhaHome5">
                <p>Experiência Profissional</p>
                <img alt="image" src="./images/divisor.png" width="100%" height="3px" />
                <div id="filhaHome6">
                    <p>* Swift</p>
                    <p>* Clean Code</p>
                    <p>* Scrum</p>
                    <p>* Figma</p>
                    <p>* Colaboração</p>
                    <p>* Trabalho em equipe</p>
                </div>
            </div>
        </div>

        <div class="Footer">
            <div id="filhaFooter">
                <img src="./images/Footer.png" height="70">
            </div>
        </div>

    </body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</html>






<!-- <!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiler - Configurações</title>

    <link rel="stylesheet" href="../static/normalize.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/global.css">
</head>

<body class="bg-dark bg-gradient vh-100 vh-100 text-white">
    <div class="container">
        <div class="row">
            <div class="col-12 bg-dark text-center">
                <h1>INSERIR CONTEÚDO CONFIGURAÇÕES</h1>
            </div>
        </div>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html> -->