@font-face {
    font-family: Futura;
    src: url(../fonts/Futura.ttc);
}


/*===========================================================================*/
/*====== TAGS HTML ==================*/
* {
    margin: 0;
    font-family: Futura;
}

div{
    justify-content: end;
}

h1 {
    font-size: 2.125rem;
    font-weight: 500;
    font-family: Futura;
}

input {
    height: 3rem;
    border-radius: 1rem;
    border-color: transparent;
    background-color: #D9D9D9;
}

input .border-fail {
    border-color: red;
}

a {
    color: white;
}

nav {
    height: 80px;
    background-color: white;
}


/*===========================================================================*/
/*====== COISAS DA NATÁLIA ==================*/
.nav-link:hover {
    background-color: #ccc;
}

/*p{
    margin-bottom: 10px;
}*/

#navbarNav li a{ 
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    font-family: Futura;
    padding: 20px;
    padding-top: 25px;
    color: black;
}

.navbar-brand{
    padding-top: 25px;
    padding-bottom: 25px;
}

.paiHome{
    padding-top: 15px;
    background-image: url("../images/desenhoBackground.png");
    background-position: top;
    background-repeat: no-repeat;
    background-color: #737373;
}

#filhaHome1{
    display:flex;
    justify-content: right;
    margin-right: 15px;
}

.btn{
    background-color: #D9D9D9;
    color: black;
    font-size: 16px;
    font-family: Futura;
    font-weight: 400;
    /*padding: 10px;*/
    border-radius: 5px;
    height: 34px;
}

#filhaHome2{
    display: flex;
    justify-content: center;
}

#filhaHome3{
    display: flex;
    justify-content: center;
    font-family: Futura;
    padding-top: 25px;
    font-size: 30px;
    color: #EEEEEE;
}

#filhaHome4{
    display: grid;
    justify-content: center;
    text-align: center;
    font-family: Futura;
    font-size: 17px;
    color: #EEEEEE;
}

#filhaHome4 p{
    margin-bottom: 10px;
}

#filhaHome5, #filhaHome7, #filhaHome9, #filhaHome11, #filhaHome13{
    padding-top: 35px;
    padding-left: 95px;
    padding-right: 95px;
    font-family: Futura;
    color: #EEEEEE;
    font-size: 18px;
}

#filhaHome5 p, #filhaHome7 p, #filhaHome9 p, #filhaHome11 p, #filhaHome13 p{
    margin-bottom: 0px;
}

#filhaHome6, #filhaHome8, #filhaHome10, #filhaHome12, #filhaHome14{ 
    padding-top: 10px;
    font-size: 14px;
    font-weight: 200;
}

#filhaHome6 p, #filhaHome8 p, #filhaHome10 p {
    padding-bottom: 6px;
}

#filhaHome13 {
    padding-top: 0px;
}

#filhaHome14 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration: underline;
    font-size: 16px;
}

#filhaHome15 {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#filhaHome15 a {
    padding-right: 15px;
}

#filhaHome17 {
    display: flex;
    justify-content: center;
}

#filhaHome18 {
    padding-left: 95px;
    padding-right: 95px;
}

#filhaHome19, #filhaHome20, #filhaHome21, #filhaHome22, #filhaHome23 {
    margin-bottom: 10px;
}

#filhaHome19 p, #filhaHome20 p, #filhaHome21 p, #filhaHome22 p, #filhaHome23 p {
    margin-top: 30px;
    margin-bottom: 3px;
    color: #D9D9D9;
}

#filhaHome24 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*.*️⃣ Naty isso que vc está fazendo não é o mais recomendado, vc está usando ID como CLASS, isso não
é reutização de código. ID é pra ser usando com coisas únicas e específicas, pra um único elemento (fui redunddante de propósito) 
(pode apagar depois de ler) */
#input-name, #input-cargo, #input-estado, #input-pais, #sobre-mim, #habilidades, #input-local, 
#input-cargo1, #input-periodo, #input-curso, #input-instituicao, #input-telefone, #input-linkedin,
#input-github, #input-instagram, #input-user, #input-email, #input-cargo2, #input-habilidades {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #D9D9D9;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: Futura;
}

.label-form {
    font-style: Futura;
    font-size: 15px;
    padding-right: 10px;
    margin-bottom: 7px;
}

#preview {
    padding-left: 10px;
}

#button_search {
    padding-right: 15px;
}

#periodoTrabalho {
    padding-right: 30px;
    padding-bottom: 10px;
}

#localTrabalho {
    font-size: 14px;
    padding-bottom: 10px;
}

#curso {
    font-weight: bold;
}

#periodoCurso {
    padding-bottom: 30px;
}

#contato {
    text-align: center;
}

#email {
    padding-right: 30px;
}

#button-send {
    display: flex;
    justify-content: center;
    font-family: Futura;
    border-radius: 5px;
}

.paiSearch{
    background-image: url("/project-profiler/src/static/images/background-busca.png");
    background-position: top;
    background-repeat: no-repeat;
    background-color: #737373;
}

#filhaSearch1 {
    display:flex;
    justify-content: right;
    margin-right: 15px;
    padding-top: 40px;
}

#filhaSearch2 {
    display:flex;
    justify-content: center;
    padding-top: 70px;
}

#filhaSearch3 {
    display: flex;
    justify-content: center;
    font-family: Futura;
    color: black;
    padding-top: 20px;
}

#filhaSearch4 {
    /* padding-left: 380px;
    padding-right: 380px; */
    max-width: 700px;
}

#filhaSearch5 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 250px;
}

.Footer{
    height: 114px;
    background-color: white;
}

#filhaFooter{
    padding-top: 20px;
    padding-bottom: 0px;
    width: 100%;
    position:absolute;
    text-align: center;
}

.opacity-hover {
    height: 35px;
    margin-left: 10px;
}

.opacity-hover:hover {
    opacity: 0.5;
}

#button-settings {
    width: 35px;
    height: 35px;
    margin-left: 10px;
}
#button-settings:hover {
    opacity: 0.5;
}


/*===========================================================================*/
/*====== PARTE DA JU */
/*. *️⃣ Ju aquele rolê de parte da Naty era pq eu não queria mudar algo, mas o ideal não seria ter parte de pessoas específicas, deveria
ter coisas bem genéricas, com nomes e usos bem reutilizáveis e livre de contexto. (pode apagar depois de ler) */
.container-login {
    width: 600px;
    height: 615px;
    position: absolute;
    top: 8%;
    margin-top: 100px;
    left: 40%;
    margin-left: -100px;
}

.forgot-password {
    color: gray;
    font-style: italic;
    text-decoration: none;
    position: absolute;
    top: 48%;
    margin-top: 100px;
    left: 85%;
    margin-left: -100px;
}

.container-register {
    width: 600px;
    
    /* position: absolute; */
    margin: 50px auto;
    /* top: 5%; */
    /* margin-top: 50px; */
    /* left: 40%;
    margin-left: -100px; */
    padding-bottom: 1rem;
}

.container-searchResult {
    width: 600px;
    height: auto;
    margin: 50px auto;
    /* position: absolute; */
    /* top: 3%; */
    /* margin-top: 100px; */
    /* left: 40%; */
    /* margin-left: -100px; */
}

.bg-entrar-login-cadastro-signup-search {
    color: rgb(255, 255, 255);
    background-color: #6e6b6b; 
}

.bg-entrar-login-cadastro-signup-search:hover {
    background-color: #53A451;
    border-color: black;
    box-shadow: 2.5px 2.5px 2.5px black;
}

.bg-searchResult-left {
    /* height: 103px; */
    border-radius:0px 20px 0px 20px;
    border-color: transparent;
    background-color: #D9D9D9;
}

.bg-align-image-left {
    display: flex;
    align-items: center;
    justify-content: start;
    /* position: relative; */
    /* alig */
    /* right: 200px; */
}

.bg-searchResult-right {
    height: 103px;
    border-radius:20px 0px 20px 0px;
    border-color: transparent;
    background-color: #D9D9D9;
}

.bg-align-image-right {
    display: flex;
    align-items: center;
    position: relative;
    right: 10px;
    border-radius:0px 20px 0px 20px;
}


/*===========================================================================*/
/*====== SHADOWS */
.shadow-far {
    box-shadow: 5px 5px 5px black;
}

.shadow-near, .img-profile-picture:hover {
    box-shadow: 2.5px 2.5px 2.5px black;
}


/*===========================================================================*/
/*====== CARD & MODALS */
.card-custom {
    background-color: white;
    color: black;
    border-color: #ABABAB;
    border-width: 25px;
    
    padding-top: 1rem;
    padding-right: 1rem;
}

.modal p {
    font-size: 1.313rem;
    font-family: Futura;
}

.text-logo {
    font-size: 5.563rem;
    font-weight: 900;
    font-family: Futura;
}

.modal-custom {
    background-color: #D9D9D9;
    color: black;
    border-color: #ABABAB;
    border-width: 5px;
}

/* .modal-custom a, button {
    width: 10rem;
    margin-left: 2rem;
} */

.modal-body p {
    font-weight: 400;
    color: #333;
    font-size: 1.125rem;
}

.btn-custom {
    height: 3rem;
    background-color: #737373;
    text-decoration: none;
    border-color: transparent;
    border-radius: 1rem;
    border-width: 2.5px;
    
    color: white;
    font-family: Futura;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    min-width: 7.5rem;
    
}

.custom-primary:hover {
    background-color: #53A451;
    border-color: black;
    box-shadow: 2.5px 2.5px 2.5px black;
}

.custom-tertiary {
    min-width: 20rem;
    background-color: #919aa2;
    border-color: black;
    box-shadow: 2.5px 2.5px 2.5px black;
}

.custom-tertiary:hover {
    background-color: #53A451;
    border-color: black;
    box-shadow: 2.5px 2.5px 2.5px black;
}

.a-custom-secondary {
    padding-top: 0.75rem;
}

.a-custom-secondary:hover {
    padding-top: 0.55rem;
}

.custom-secondary:hover, .a-custom-secondary:hover {
    color: white;
    background-color: #919aa2;
    border-color: black;
    border: 2.5px solid rgb(6, 5, 5);  
    box-shadow: 2.5px 2.5px 2.5px black;
}

.custom-danger:hover {
    background-color: #CB444B;
    border-color: black;
    box-shadow: 2.5px 2.5px 2.5px black;
    text-decoration: none;
    color: white;
}


/*===========================================================================*/
/*====== SEARCH */
#search-result-btn {
    color: black;
    text-decoration: none;
}

#search-result-btn h5 {
    font-weight: 700;
}


/*===========================================================================*/
/*====== GRAPHICS */
.img-profile-picture {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    border: 0.35rem solid #ddd;
}

.a-custom-login {
    border-radius: 1rem;
    border-color: transparent;
    color: white;
    background-color: #D9D9D9;
    /* .🌟 Usar esa lógica em todos os a href */
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-left: 3rem;
    padding-right: 3.3rem;
    text-decoration: none;
}

.a-custom-login:hover {
    padding-right: 3rem;
    color: white;
    background-color: #919aa2;
    border-color: black;
    border: 2.5px solid rgb(6, 5, 5);  
    box-shadow: 2.5px 2.5px 2.5px black;
}


/* 
.btn-custom {
    height: 3rem;
    background-color: #737373;
    text-decoration: none;
    border-color: transparent;
    border-radius: 1rem;
    border-width: 2.5px;
    
    color: white;
    font-family: Futura;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;

    min-width: 7.5rem;
    
}

.custom-primary:hover {
    background-color: #53A451;
    border-color: black;
    box-shadow: 2.5px 2.5px 2.5px black;
}

.custom-tertiary {
    min-width: 20rem;
    background-color: #919aa2;
    border-color: black;
    box-shadow: 2.5px 2.5px 2.5px black;
}

.custom-tertiary:hover {
    background-color: #53A451;
    border-color: black;
    box-shadow: 2.5px 2.5px 2.5px black;
}

.a-custom-secondary {
    padding-top: 0.75rem;
}

.a-custom-secondary:hover {
    padding-top: 0.55rem;
}

.custom-secondary:hover, .a-custom-secondary:hover {
    color: white;
    background-color: #919aa2;
    border-color: black;
    border: 2.5px solid rgb(6, 5, 5);  
    box-shadow: 2.5px 2.5px 2.5px black;
}

.custom-danger:hover {
    background-color: #CB444B;
    border-color: black;
    box-shadow: 2.5px 2.5px 2.5px black;
    text-decoration: none;
    color: white;
} */






